@import "~bootstrap/scss/bootstrap";

.navbar-brand {

  img {
    width: auto;
    height: 35px;
  }
}
a {
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(to bottom, white, black);
}